

<!DOCTYPE html>
<html>
<title>Weather web Site</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<div class="w3-right w3-padding-16">
    <form action="admin">
        <button class="w3-button w3-padding-large w3-white w3-border"  type="submit"><b>Admin</b></button>
</form>
</div>
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Votre Rapport Climatique</b></h1>
  <p>Développé par <span class="w3-tag">MAKBAL Majdoulina</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/5979e5ef58e6b5db5dcc50b3334f76aed1d863d0/big-27f8fe79d6beef24f529ccf42288c35c.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>En ce moment Partout dans le monde !</b></h3>
    </div>

    <div class="w3-container">
      <p>En un seul clic Obtenez la météo instantannée du monde !</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
            <form action="./map.html"><button class="w3-button w3-padding-large w3-white w3-border"  type="submit"><b>Découvrer »</b></button></form></p>        </div>
        
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://images.theconversation.com/files/150190/original/image-20161214-2509-10zgqe9.png?ixlib=rb-1.1.0&q=45&auto=format&w=668&h=324&fit=crop" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>Suivez Le Climat Heure par Heure </b></h3>
      
    </div>

    <div class="w3-container">
      
      <div class="w3-row">
        <div class="w3-col m8 s12">
            <form><b>Entre une ville: </b> <input type='text' name='ville' ><br><br>
                <button class="w3-button w3-block w3-black" style="width:30%" formaction="temperature">Température</button>
                <button class="w3-button w3-block w3-black" style="width:50%" formaction="humidity">Humidité</button>
                <button class="w3-button w3-block w3-black" style="width:80%" formaction="precipitations">Vent</button>
            
            </form>
        </div>
        
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://www.laureats.ma/uploads/organisms/public/emi-ecole-mohammadia-d-ingenieurs.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>A propos </b></h4>
      <p>Ce site web est un projet académique visant à relever les données météorologiques de différents régions aux monde tout en exploitant la flexibilité du modèle relationnel Nosql .</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Liens Utiles</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <iframe src='https://fr.weather-forecast.com/countries/Morocco' height="70" width="400" ></iframe>
        
      
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>

<!--  -->
